ipykernel
nbsphinx
sphinx_rtd_theme==3.0.0rc1
polars == 1.2.0
geopandas == 1.0.1
h3ronpy == 0.21.0
aiohttp == 3.9.5
pydeck == 0.9.1
matplotlib == 3.9.2
mapclassify == 2.8.0
sqlalchemy == 2.0.32
python-dotenv == 1.0.1
tqdm
shapely